@page
@model Ibas.MenuApp.Pages.ContactInfoModel

<h3>Kontaktinformation</h3>

<div>
    <p><strong>Navn:</strong> Karen</p>
    <p><strong>Intern e-mail:</strong> karen@ibas.com</p>
    <p><strong>Telefonnummer:</strong> +45 12 34 56 78</p>
</div>

@{
}
