@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <h1 class="display-4">Kantinens Menu for uge 45 </h1>
    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        <tr>
            <td>Mandag</td>
            <td>Kylling & pasta</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Tirsdag</td>
            <td>Græskarsuppe</td>
            <td>Pastasalat</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>Frikadeller</td>
            <td>Koldskål</td>
        </tr>
        <tr>
            <td>Torsdag</td>
            <td>Røde pølser</td>
            <td>Røde pølser</td>
        </tr>
        <tr>
            <td>Fredag</td>
            <td>Pizza</td>
            <td>Rugbrød med pålæg</td>
        </tr>
    </table>
</div>
