@page "/"
@model IndexModel
@using Azure.Data.Tables;
@using Azure;
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";

    var tableName = "IBASKantineMenu";
    var connectionString = Configuration["ConnectionStrings:AzureTableStorage"];
    TableClient tableClient = new TableClient(connectionString, tableName);

    // Retrieve entities and week number
    Pageable<TableEntity> entities = tableClient.Query<TableEntity>();
    string weekNumber = entities.FirstOrDefault()?.PartitionKey ?? "Uge N/A"; 
}

<head>
    <link href="/css/site.css" />
</head>

<div class="text-center">

    <h1 class="display-4">Kantinens Menu for @weekNumber</h1>
    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        @foreach (var entity in entities)
        {
            <tr>
                <td>@entity.GetString("Dag")</td>
                <td>@entity.GetString("Varm_ret")</td>
                <td>@entity.GetString("Kold_ret")</td>
            </tr>
        }
    </table>
</div>